<div class="container">

    <mat-tab-group headerPosition="below">
        <mat-tab label="One">
            <div class="rotating-container">
                <i class="material-icons">directions_bike</i>
                <h1>#unblockbikelanes </h1>
                <p>Helping collect and analyze reports of blocked bike lanes.</p>
            </div>
        </mat-tab>
        <mat-tab label="Two">
            <div  class="rotating-container">
                <i class="material-icons">aspect_ratio</i>
                <h1>Crowd Sourcing Data</h1>
                <p>Analyzing data from <a href="https://twitter.com/search?q=%23unblockbikelanes" target="_blank">#unblockbikelanes</a> and user submitted images.</p>
            </div>
        </mat-tab>
        <mat-tab label="Three">
            <div  class="rotating-container">
                <i class="material-icons">commute</i>
                <h1>Coming soon...</h1>
                <p>Data portal, iOS, and Android apps</p>
            </div>
        </mat-tab>
    </mat-tab-group>

    <p><a href="https://github.com/scottwittrock/unblockbikelanes" target="_blank">An open source project</a></p>

</div>