.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(245,245,245);
}

.rotating-container {
    height: 300px;
    width: 400px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
}

h1, p, i {
    text-align: center;
}

i {
    font-size: 100px;
}